@page "/logout"

<h3>Logout</h3>
@using Ezac.Roster.Domain.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AdminUser> _singInManager
@inject NavigationManager _navigationManager
@code {


    protected override async Task OnInitializedAsync()
    {
        await _singInManager.SignOutAsync();
        _navigationManager.NavigateTo("/");
    }

}
