@page "/oops"
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Deze kalender is al ingevuld</h3>
                </div>
                <div class="card-body">
                    <p>De kalender die u probeert te openen, is al ingevuld. U kunt geen wijzigingen aanbrengen omdat deze al is verwerkt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
